

/* ----------------------
   List
*/

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


#thecanvas div { 
    float:none; 
    display:block;
    text-align:left;
    background:rgba(255,255,255,0.8);
    width:100px;
    height:20px;
    
    cursor: move
    
     }



/* ----------------------
Icons
*/

#thecanvas li a { 
 display:none;
}

#thecanvas li:hover a { 
 display:inline-block;
 opacity:0.5;
 margin-left:10px;
}

#thecanvas li a:hover { 
 opacity:1;
}




/* ----------------------
   Details
*/

.details { 
    display:none; 
    text-align:left; 
    position:relative; top:1em;
    padding:5px;
    background:rgba(255,255,255,0.8);
    }
#canvas div:hover .details { display:block; }


.details p { font-size:1em; margin:5px; }





/* ----------------------
   Stylins!
*/

html { 
    background: url('../img/clock-gears.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body, #thecanvas {
    background:transparent;
}













