

/* ----------------------
   List
*/

body {
    -moz-user-select:none; /* Prevent the text contents from being selectable */
    -khtml-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}

#thecanvas div { 
    float:none; 
    display:block;
    position:absolute;
    text-align:left;
    background:none;
    opacity:0.9;
    }
#thecanvas div header, #info strong { 
    background:rgba(255,255,255,0.8);
    width:auto;
    display:inline-block;
    font-weight:bold;
    border:3px transparent solid;
    padding:4px 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }
#thecanvas div header:hover { 
    background:rgba(255,255,221,1);
}
#thecanvas div header.drag {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    
}


#thecanvas div:hover { 
    cursor: move;
}

#thecanvas .user {
    opacity:1.0;
}
#thecanvas .swarm2 {
    opacity:0.25;
}
#thecanvas .swarm2:hover {
    cursor:default;
}

/* ----------------------
   Details
*/

.details { 
    display:none; 
    position:relative; top:-4.5em;
    padding:0 4px;
    margin-left:10px;
    text-align:center;
    background:rgba(0,0,0,0.95); color:white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }
    
    }
.details p {
    line-height:1.2em !important;
    }

#canvas div:hover .details { display:block; }


.details p { font-size:1em; margin:5px; }




/* ----------------------
Icons
*/

#thecanvas li a { 
 display:none;
}

#thecanvas li:hover a { 
 display:inline-block;
 opacity:0.5;
 margin-left:10px;
}

#thecanvas li a:hover { 
 opacity:1;
}


/* ----------------------
   anchor
*/

span.anchor, #thecanvas div span {
    position:absolute;
    top:0; left:0;
    margin-top:-5px; margin-left:-5px;
    height:8px; width:8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid rgba(0,0,0,0.5);
    z-index:0; 
    opacity:0.25;    
}

#thecanvas div span {
     opacity:1;    
}

.anchor.user, #thecanvas div.user span {
    background:rgba(0,0,0,0.5);
    border-color:transparent;
    opacity:1;
    z-index:11;
}



/* ----------------------
   labels
*/

.label { 
        position:absolute;
        display:inline-block;
        text-align:center;
        opacity:0.9;
        background:rgba(0,0,0,0.8);
        width:auto;
        font-weight:bold;
        padding:4px 14px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color:white;
        z-index:0;
        }

#north{ top:1em; left:50%; }
#east { top:50%; right:0; }
#south { bottom:1em; left:50%; }
#west { top:50%; left:0; }
#east, #west {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -o-transform: rotate(90deg); /* Opera */
    -moz-transform: rotate(90deg); /* Firefox */
}

/* ----------------------
   prompts
*/

#info {
    display:none;
    z-index:5;
    color:white;
    position:absolute; top:5%;
    width:80%;
    height:80%;
    margin-left:7%;
    padding:0 10px;
    border:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background:rgba(178,204,204,0.9);
    background:rgba(0,0,0,0.6);
}
#info button { color:white; opacity:0.8; }
#info button:hover { color:white; opacity:1; }

#info p { 
    text-align:center; 
    margin:2em 0;
    }

#info strong { /* fake items */
    position:relative;
    display:inline-block;
    color:black;
    border:0;
}
#info span { /* fake anchors for instructions */
    position:absolute;
    top:-4px; left:-4px;
    height:8px; width:8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid rgba(0,0,0,0.5);
     }
#info span.user { 
    background:rgba(0,0,0,0.5);
    border-color:transparent;
    z-index:0;
}  


/* ----------------------
   Sparkle!
*/

.sparkle {
    position:absolute;
    top:0; left:0;
    height:8px; width:8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid rgba(0,0,0,0.5);
    background:rgba(0,0,0,0.2);
    z-index:0; 
    opacity:0.6;    
}  
    
/* ----------------------
   Stylins!
*/

html { 
    background: url('../img/grid.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
    background:#efefef url('../img/grid.png') no-repeat top center; 

}

body, #thecanvas {
    background:transparent;
}

#thecanvas {
    position:absolute;
    top:0; left:0;
    width:100%;
}
.container { width:100%; }

h1 { 
    margin:10px; 
    color:rgba(255,255,255,0.5); 
    }

.navbar { z-index:2; display:none; }
.navbar .brand { margin-left:-5px; }


/* ----------------------
   forms
*/


form { 
    width:500px;
    margin:45px auto; 
    padding:15px 20px 25px;
    background:rgba(255,255,255,0.4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height:80%;
    overflow:auto;
    }
    
form .mask { 
    position:fixed;
    bottom:45px; /* height + form padding */
    height:30px; 
    margin:0 -19px; width:538px;
    background:rgba(255,255,255,0.4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }
    