

/* ----------------------
   List
*/

#thecanvas div { 
    float:none; 
    display:block;
    position:absolute;
    text-align:left;
    background:rgba(255,255,255,0.8);
    width:100px;
    height:20px;
    border-color:transparent;
    border-width:3px;
    opacity:0.6;
    -moz-user-select:none; /* Prevent the text contents from being selectable */
    -khtml-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    }

#thecanvas div:hover { 
    cursor: move;
}

#thecanvas div.user {
    opacity:1.0;
}
#thecanvas div.swarm2 {
    opacity:0.1;
}
#thecanvas div.swarm2:hover {
    cursor:default;
}

/* ----------------------
   Details
*/

.details { 
    display:none; 
    position:relative; top:1em;
    padding:5px;
    margin:0 -10px;
    background:rgba(255,255,255,0.8);
    }
.details p {
    line-height:1.2em !important;
    }

#canvas div:hover .details { display:block; }


.details p { font-size:1em; margin:5px; }




/* ----------------------
Icons
*/

#thecanvas li a { 
 display:none;
}

#thecanvas li:hover a { 
 display:inline-block;
 opacity:0.5;
 margin-left:10px;
}

#thecanvas li a:hover { 
 opacity:1;
}



/* ----------------------
   Stylins!
*/

html { 
    background: url('../img/clock-gears.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background:#333;
}

body, #thecanvas {
    background:transparent;
}













